    * {
   
  margin: 0;
    padding: 0;
    
   
  box-sizing: border-box;
  }
  body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f0faff; 
    background-image: url('https://dbdzm869oupei.cloudfront.net/img/photomural/preview/70518.png'); 
    background-size: cover;
    background-position: center;
}
  
  .wrapper {
    position: relative;
    max-width: 470px;
    width: 100%;
    border-radius: 12px;
  padding: 20px 30px 120px;
    background: #fafafa;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
  
  .form {
    display: flex;
  flex-direction: column;
    gap: 20px;
    margin-top: 40px;
  }
  
  .form-title h2 {
    font-size: 30px;
    text-align: center;
    color: #ef76df;
    font-weight: 600;
  }
  
  label {
    position: relative;
  }
  
  input {
    height: 60px;
    outline: none;
    border: none;
    padding: 0 15px;
    
   
  font-size: 16px;
    font-weight: 400;
    color: #333;
    border-radius: 8px;
    background: #fff;
    width: 100%;
  }
  .Titulo {
    font-size: 48px;  
text-align: center; 
    color: #ff69b4; 
    font-weight: 800;
    margin-bottom: 20px;
} 
  select {
   
  height: 60px;
    outline: none;
    border: none;
    padding: 0 15px;
    font-size: 16px;
    font-weight: 400;
    color: #333;
    
  border-radius: 8px;
    
   
  background: #fff;
    width: 100%;
  }
  
  .checkbox {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .checkbox input[type="checkbox"] {
    height: 16px;
    width: 16px;
    accent-color: #fff;
    cursor: pointer;
  }
  
  .checkbox label {
    cursor: pointer;
    color: #fff;
  }
  
  button {
    height: 60px;
    font-size: 18px;
    
   
  font-weight: 500;
    cursor: pointer;
    border: none;
    
   
  border-radius: 8px;
    width: 100%;
  }
  
  .form.login input[type="submit"] {
    background: #f4f4f5;
    color: #fff;
  }
  
  .link-container {
    display: flex;
    justify-content: space-between;
    
   
  align-items: center;
  }
  
  .link-container a {
    color: #333;
    text-decoration: none;
  }
  
  .link-container a:hover {
    text-decoration: underline;
  }
